<nav class="navbar fixed-bottom navbar-light bg-light d-flex justify-content-center py-3">
  <span>copyright &copy; 2020 <a href="https://github.com/novaardiansyah1">Nova Ardiansyah</a></span>
</nav>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<!-- Eruda -->
<script src="https://cdn.jsdelivr.net/npm/eruda@2.4.1/eruda.js"></script>
<script>eruda.init();</script>