<%- include('./partials/header') %>
  
<section id="content">
  
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        
        <h3 class="text-capitalize">project link navigation</h3>
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
          <strong>Welcome Pro!</strong> use the links below to navigate faster and easier
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="accordion mt-4" id="myaccordion">
          <div class="card">
            <div class="card-header" id="module1">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-module1" aria-expanded="true" aria-controls="collapse-module1">
                  Module 01
                </button>
              </h2>
            </div>
        
            <div id="collapse-module1" class="collapse show" aria-labelledby="module1" data-parent="#myaccordion">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="/module1/01a-fetch-image" class="text-capitalize">01a-fetch-image</a>
                  </li>
                  <li class="list-group-item">
                    <a href="/module1/01b-fetch-array-exercise" class="text-capitalize">01b-fetch-array-exercise</a>
                  </li>
                  <li class="list-group-item">
                    <a href="/module1/01c-fetch-text-exercise" class="text-capitalize">01c-fetch-text-exercise</a>
                  </li>
                  <li class="list-group-item">
                    <a href="/module1/02a-fetch-csv" class="text-capitalize">02a-fetch-csv</a>
                  </li>
                  </li>
                  <li class="list-group-item">
                    <a href="/module1/02b-fetch-multiple-csv-exercise" class="text-capitalize">02b-fetch-multiple-csv-exercise</a>
                  </li>
                  <li class="list-group-item">
                    <a href="/module1/03a-fetch-json-ISS-API" class="text-capitalize">03a-fetch-json-ISS-API</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header" id="module2">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-module2" aria-expanded="true" aria-controls="collapse-module2">
                  Module 02
                </button>
              </h2>
            </div>
        
            <div id="collapse-module2" class="collapse" aria-labelledby="module2" data-parent="#myaccordion">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="/module1/01a-fetch-image" class="text-capitalize">01a-fetch-image</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        
        
        <h3 class="text-capitalize mt-4" id="about-us">About Us</h3>
        <p class="mt-3">
          Welcome to our app, here is an app that we built as a means of sharing our learning results.
          we are currently learning about "how to manage Data and APIs by using JavaScript"
          by armed with youtube videos we try to keep learning and innovating in terms of website development.
          especially regarding data management.
        </p>
        
        <h3 class="text-capitalize mt-4" id="gallery">Gallery</h3>
      </div>
    </div>
    <!-- /.row -->
    
    <div class="row">
      <div class="col-md-4 mt-3">
        <a href="/assets/image/amit-gaur-YSbvqo9YLHA-unsplash.jpg">
          <img src="/assets/image/amit-gaur-YSbvqo9YLHA-unsplash.jpg" width="100%">
        </a>
      </div>
      <div class="col-md-4 mt-3">
        <a href="/assets/image/bernd-dittrich-k0Y2U9JwADk-unsplash.jpg">
          <img src="/assets/image/bernd-dittrich-k0Y2U9JwADk-unsplash.jpg" width="100%">
        </a>
      </div>
      <div class="col-md-4 mt-3">
        <a href="/assets/image/gabriella-clare-marino-mxTx53tPQKI-unsplash.jpg">
          <img src="/assets/image/gabriella-clare-marino-mxTx53tPQKI-unsplash.jpg" width="100%">
        </a>
      </div>
    </div>
  </div>
  
</section>
  
<%- include('./partials/footer') %>
</body>
</html>